<app-navbar></app-navbar>
<div class="container">
    <div class="box">
        <div  class="card">
            <img class="cooktop" src="/assets/celular2.webp" alt="">
            <p>Celular Galaxy s23</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/cooktop.webp" alt="">
            <p>Cooktop</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/maquina lavar.webp" alt="">
            <p>Máquina de Lavar</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/panelas.webp" alt="">
            <p>Jogo De Panelas</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/tv.webp" alt="">
            <p>Televisão 58 pol</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/fritadeira eletrica.webp" alt="">
            <p>Fritadeira Elétrica</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/maquina lavar.webp" alt="">
            <p>Máquina de Lavar Roupas</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/notabook.webp" alt="">
            <p>Notebook Dell</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/panelas.webp" alt="">
            <p>Jogo de Panelas</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/ar condicionado.webp" alt="">
            <p>Ar-Condicionado</p>
            <button>Comprar</button>
        </div>
        <div class="card">
            <img class="cooktop" src="/assets/carrinho bb.webp" alt="">
            <p>Carrinha Bebe (Menina)</p>
            <button>Comprar</button>
        </div>

    </div>
</div>
